* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	background-color: #ff0000;
	justify-content: flex-end;
	padding: 30px 20px;
}

.pink {
	background-color: #ff6347;
	flex-basis: 170px;
	height: 70px;
	margin: 10px;
	
}

header > :first-child {
	margin-right: auto;
}

.main {
	display: flex;
	justify-content: center;
}

.left-box {
	width: 300px;
	background-color: limegreen;
}

.right-box {
	max-width: 700px;
	flex-grow: 1;
	background-color: green;
	padding: 20px;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

.yellow {
	background-color: yellow;
	flex-basis: 200px;
	height: 130px;
	margin: 10px;
}

footer {
	background-color: blue;
	padding: 20px;
	display: flex;
	flex-wrap:wrap;
    justify-content:center;
}

footer > div {
	height: 40px;
	flex-basis: 45%;
	max-width: 600px;
	background-color: #b6e7ff;
	margin: 10px;
}