.flex {
    background-color: #00c7ce;
    height: 50vh;
    padding: 10px;
    display: flex;
    justify-content: space-around; /* 追加 */
    align-items: center; /* 追加 */
}
.flex > div {
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    font-size: 30px;

}